/Fastfood.class
/Keyword.class
/Liquor.class
/Main.class
/Recommend.class
/Request.class
/Restaurant.class
/Review.class
/Situation.class
/Theme.class
/User_Input.class
/KeywordCheck.class
/Recommend_by_Keyword.class
/Recommend_Random.class
/Recommend_by_Search_word.class
/Decide_Recommend.class
/Restaurants.class
/Restaurants_testcase.class
